
body {
	font-family: 'Source Code Pro' ;
	background-color: #f5f6f7;
}
.navbar {
	background-color: rgba(66,73,79,0.94);
	padding: 0px;
	border-radius: 3px;
	opacity: 0.5;
	height: 60px;
}
.navbar ul {
	display: inline-block;
	
	height: inherit;
	margin: 0 auto;
}
.navbar ul li {
	position: relative;
	display: inline-block;
	height: inherit;
	margin: 0 auto;
	line-height: 2.4;
	text-transform: uppercase;
	padding: 0px;
}
.navbar ul a:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	opacity: 0.5;
	background-color: white;
	border-radius: 2px;

}
.header .container {
	clear: both;
	background-image: url("http://pryorbae.com/jastest/img/bannerimage,jpg");
	height: 400px;
	background-position: 50% 55%;
	
}
.navbar ul li a {
	text-decoration: none;
	color: white;
		padding-left: 5px;
	padding-right: 5px;
	height: inherit;
	font-size: 25;
	font-weight: bold;
}

.header .container #logo {
	padding: 60px;
	height: 250px;
	width: auto;
}
.tracks .tracksraced {
	text-align: center;
}
.tracks .trackblurb {
	text-align: center;
}
.tracks .inner-container {
	overflow: hidden;
	padding: 25px 100px 25px 100px;
	margin: 0 auto;
	width: 75%;
	height: 280px;
}
/*
.tracks .inner-container .trackmap {
	float: left;
	padding: 10px;
	width: 250px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	
}
*/

.tracks .inner-container .trackmap1 {
	float: left;
	padding: 10px;
	width: 250px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

.tracks .inner-container .trackmap1 img{
	width: 250px;
	position: relative;
	height: 207px;
}
.tracks .inner-container .trackmap1 h4 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
}
.tracks .inner-container .trackmap1 .results span {
		color: white;
		background: rgba(0,0,0,0.7);
		letter-spacing: -1px;
		opacity: 0;		

}

.sponsors {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #f8f8f8;
	margin: 0 auto;
}

.sponsors .sponsorsblurb {
	text-align: center;
}
.sponsors .sponsormessage {
	text-align: center;
}
.sponsors .inner-container {
	overflow: hidden;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	width: 50%;
	height: 180px;
}
.sponsors .inner-container .logo{
	float: left;
	width: 150px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;

}